html {
    width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--Navy-blue-color);
    width: 100%;
    background-color: var(--white-color);
}

:root {
    --Iris-color: #4D5AE5;
    --Ocean-color: #404BBF;
    --Navy-blue-color: #2E2F42;
    --white-color: #fff;
    --Slate-color: #434455;
    --cloud-color: #E7E9FC;
}

.header {
    font-size: 18px;
}

.logo {
    font-family: 'Raleway', sans-serif; 
    display: block; 
    font-weight: 800; 
    text-decoration: none
}

a {
    text-decoration: none;
    color:var(--Navy-blue-color);
}

a:hover {
    color: var(--Ocean-color);
}

.button-list {
    display: inline;
}

.buttons-in-list {
    display: inline;
    font-size: 16px;
    cursor: pointer;
}

.list-item-title {
    font-size: 20px;
}

.list-item-desc {
    font-size: 16px;
}

footer {
    background-color: var(--Navy-blue-color);
}

.products-list {
    list-style: none;
}

.buttons-in-list {
    font-size: 16px;
    cursor: pointer;
    background-color: var(--cloud-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: none;
    padding: 12px 24px;
    transition: 0.5s;
}

.buttons-in-list:hover {
    background-color: var(--Ocean-color);
    color: var(--white-color);
}