html {
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Roboto' sans-serif;
    color: #2E2F42;
    width: 100%;
    margin: auto;
    overflow-x: hidden;
    background-color: #fff;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    display: block;
}

.header-links {
    font-family: inherit;
    color: #2E2F42;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.no-list-dot {
    list-style: none;
}

.header {
    font-size: 18px;
}

.header-hover {
    text-decoration: none;
    color:#2E2F42;
    transition: 0.5s;
}

.header-hover:hover {
    color: #404BBF;
    border-bottom: 4px solid #4D5AE5;
    padding-bottom: 20px;
}

.main-page-bg {
    box-sizing: border-box;
    left: 0px;
    top: 72px;
    background: #2E2F42;
}

.title {
    font-size: 56px;
    color: #fff;
    background-color: #2E2F42;
    background-size: auto;
    margin: 0;
    font-family: inherit;
    font-weight: 700;
}

.list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.list-item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

footer {
    background-color: #2E2F42;
}

.order-button {
    font-family: inherit;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}